@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Poppins', sans-serif; */
    background-size: cover;
    background-position:center;
    /* backdrop-filter:blur(0px); */
    /* background-image: linear-gradient(to right bottom ,greenyellow, skyblue, pink,yellow); */
}
.music{
    position: relative;
    width: 400px;
    margin: 0 auto;
    border-radius: 12px;
    border:1px solid white;
    background-color: rgba(255, 255, 255, 0.075);
    box-shadow: rgba(100, 100, 111, 0.349) 0px 4px 6px ;
    padding: 35px 15px 30px;
    z-index: 8;
}
.list-music{
    position: absolute;
    top:45px;
    width: 94%;
    background:rgb(255, 255, 255);
    border-radius: 5px;
    padding:10px  0 25px;
    background-image:linear-gradient(to left,pink,#6d2fb1);
    z-index: 10;
    transition:0.3s;
}
.list-music h2{
    text-align: center;
    color:white;
}
.list-music::after{
    content:'';
    position:absolute;
    width: 25px;
    height: 11px;
    background:#6e2fb1f3 ;
    top:-5px;
    left:1px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.content{
    width: 100%;
    height: 0px;
    overflow: auto;
    transition: 0.6s 0.2s;
}
.list{
    position: relative;
    width: 100%;
    height: 20%;
    background:rgb(255, 255, 255);
    border:1px solid rgba(140, 105, 221, 0.212);
    display:flex;
    align-items:center;
    color:rgb(21, 5, 255);
    padding-left:15px;
    font-size: 20px;
    cursor: pointer;
}
.list:hover{
    background: rgb(229, 238, 217);
}
.list-color{
    background: red;
}
.button-list-music{
    display:inline-block;
    position: absolute;
    font-size: 2em;
    top:10px;
    left:10px;
}
.button-list-music:hover{
    transform: scale(1.05);
}

.music-black{
    background:#000000d9;
    color:white;
}
.music-colorful{
    background-image: linear-gradient(to right bottom ,greenyellow, skyblue, pink,yellow);
}
.change-bg-img{
    position: absolute;
    width: 18px;
    height: 18px;
    background: skyblue;
    box-shadow: 1px 1px 0px rgb(26, 80, 116);
    border-radius: 50%;
    left:82%;
    top:20px;
}
.change-bg-color{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left:90%;
    top:20px;
    background: #000000a9;
    box-shadow: 1px 1px 0px rgb(0, 0, 0);
}
.change-bg-img:hover,.change-bg-white:hover{
    transform: scale(1.1);
}
.music-thumb {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
}
.music-thumb.isplaying {
    animation: animate linear 5s infinite;
}
.music-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ffb86c, 0 0 0 6px white, 0 0 0 9px #ff6bcb;
}
.music-name {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(0, 170, 255);
}
.music-name-green{
    color:#10ff00;
}
.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-bottom: 40px;
    color:#ff0095;
}
.key{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
}
.controls{
    display: flex;
    gap:0 30px;
    font-size: 20px;
}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86c);
    border-radius: 50%;
    font-size: 1.5em;
    position: relative;
}
.player-inner{
    display: flex;
    justify-content: center;
    margin-left:1px;
}
.play-back,.play,
.play-forward,.range,
.play-infinite,.play-shuffle,
.change-bg-color,.change-bg-img,
.button-list-music{
  cursor: pointer;
}
.play:hover,.play-back:hover,.play-forward:hover{
    transform: scale(1.05);
}
.range{
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
}
.range::-webkit-slider-runnable-track {
    height: 4px;
    background-color: #eeee;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #20e3b2;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    margin-top: -7px;
    box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(100, 100, 111, 0.05);
}
.range::-webkit-slider-thumb:hover{
    transform: scale(1.3);
}
@keyframes animate {
    to{
        transform: rotate(360deg);
    }
}
.play-back:hover,.play-forward:hover{
    transform: scale(1.2);
}

.modal{
    position: fixed;
    inset:0;
    z-index: -1;
}
/* 
.music-bars-circle{
    position: absolute;
    right:10%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transform:rotate(180deg);
    opacity: 1;
}
.bar{
    margin-top: 25%;
    margin-left:2.5%;
    height: 55%;
    width: 10%;
    background: white;
    transform: translateX(-2.5%) ;
    animation: animate 0.7s linear infinite;
    animation-delay: 0.4s;
}
@keyframes animate {
    0%{
        height: 55%;
    }
    50%{
        height: 10%;
    }
    100%{
        height: 55%;
    }
}
.bar1{
    animation-delay: 0.3s;
    background:rgb(39, 25, 235);
}
.bar2{
    animation-delay: 0s;
    background:rgb(255, 136, 0);
}
.bar3{
    animation-delay: 0.15s;
    background:rgb(118, 18, 211);
}
.bar4{
    animation-delay: 0.4s;
    background:rgba(255, 0, 0, 0.897);
} */
