@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 62,5%;
}
body{
    background-image:linear-gradient(to left, skyblue, pink );
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.tea__container{
    position: relative;
}

.tea__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 520px;
    width: 600px;
    margin: 40px auto 0;
    position: relative;
}

.tea__item{
    width: 180px;
}

.tea__item-img{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(230, 88, 194, 0.26);
    border-radius: 10px 10px 0 0;
}

.tea__item-img img{
    height: 110px;
    transition: 0.5s;
}

.tea__item-img img:hover{
    transform: translateY(-30px);
    
}

.tea__item-content{
    padding:8px 20px;
    height: 140px;
    transform: translateY(-25px);
    background-color: rgba(60, 164, 233, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 0 0 10px 10px;
}

.tea__item-title{
    height: 20px;
    font-size:1rem;
    text-align: center;
    margin-top: 5px;
    line-height: 1.0rem;
    color: rgb(2, 49, 255);
    letter-spacing: -0.6px;
}

.tea__item-description{
    font-size:0.5rem;
    height: 36px;
    margin-top: 5px;
}

.tea__item-price{
    text-align: right;
    color: blueviolet;
    margin: -5px 0 5px;
}

.tea__item-add{
    border:none;
    outline: none;
    padding: 7px;
    width: 80%;
    border-radius: 8px;
    background-color: pink;
    margin-left: 12px;
}
.tea__item-add:hover{
    transition: 0.2s;
    background-color: rgb(241, 135, 215);
    cursor: pointer;
}

.tea__listPage{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.tea__listPage li{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: black;
    background-color: white;
    margin:0 10px 0;
    cursor: pointer;
}

.tea__listPage .active{
    background-color: rgba(118, 103, 250, 0.822);
}

@media screen and (max-width:720px){
    
}

.tea__cart{
    position: absolute;
    top:10px;
    right:0px;
    z-index: 1000;
    height: 96vh;
    background-color: white;
    border-radius: 10px 0 0 10px;
    width: 300px;
    display: none;
    animation: appear 0.2s ease-in;
    
}

@keyframes appear {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.tea__cart-header{
    color: black;
    border-bottom: 1px solid rgb(247, 167, 227);
    position: relative;
    padding:10px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    width: 100%;
    z-index: 10;
}
.tea__cart-header span{
    font-size: 1.5rem;
    color:rgb(28, 24, 245);
    cursor: default;
    z-index: 20;
}

.tea__cart-close{
    font-size: 2rem;
    position: absolute;
    right:0;
    cursor: pointer;
}

.tea__icon-cart{
    position:absolute;
    top:0px;
    right:100px;
    background-color: rgba(255, 255, 255, 1);
    padding:5px 15px 5px;
    display: flex;
    align-items: center;
    gap:10px;
    border-radius: 20px;
    box-shadow: 0 0 3px rgb(233, 117, 217);
    cursor: pointer;
    transition: 0.2s;
}

.tea__icon-cart:hover {
    transform: scale(1.05);
}
.tea__icon-title{
    color:black;
    font-size: 0.9rem;
}

.tea__icon-cart ion-icon{
    font-size: 1.6rem;
    color:black;
}

.tea__cart-container{
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 87%;
    overflow: auto;
}
.add{
    background-color: aquamarine;
}

.tea__cart-container .add{
    background-color: aquamarine;
}
 .tea__cart-container .tea__item{
    transform: scale(0.8);
    margin:-30px;
}
.add:hover{
    background-color: aquamarine;
}